body {
    background-color: cadetblue;
}

h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 20px;
}

.hobbies {
    list-style-type: none;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.Skill-section {
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.unorderd-list {
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}